.modal-container {
  width: 600px;
  height: 400px;
  background-color: blue;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.shopping-cart {
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  color: rgb(240, 240, 240);
  cursor: pointer;
  font-size: 2rem;
}

.shopping-cart:active {
  transform: scale(0.95);
}