a {
  color: rgb(240, 240, 240);
  background-color: transparent;
  text-decoration: none;
}

.navbar-div {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e0a42c;
  height: 10rem;
  z-index: 10;
}

.logo-container,
.cart-container {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-routes {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}

.logo {
  max-width: 25rem;
}

.active {
  color: #2c3c54;
}

.display-foods {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
