.food-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  background: #2c3e50;
  border: 1px solid #1d2833;
  color: #ecf0f1;
}

.food-image {
  width: 70%;
}

.food-image:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

.food-name {
  font-size: 2.4rem;
}

.food-description {
  font-size: 1.4rem;
  color: hsla(210, 3%, 87%, 0.658);
}

.food-price {
  font-size: 2rem;
}

.addToCart-btn {
  background-color: #dfa02c;
  color: #2e3b3b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCart-btn:hover {
  background-color: #b38022;
}

.addToCart-btn:active {
  transform: scale(0.95);
}

.loading-message {
  color: #ecf0f1;
  font-size: 4rem;
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.price-filter-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sortBy-text {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: #ecf0f1;
}

select {
  font-size: 1.4rem;
  border-radius: 0.4rem;
}
